<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToX_Free_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ToX_Free_Utility.Properties.Settings>
      <setting name="KBOpti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KBDelay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KBRate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KBDQS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MOpti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="M1_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MAcc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MDQS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GeneralNvidia" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NvHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NviPstate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GeneralAMD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AMDHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AMDPStates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AmdSC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasicPrivacy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasicPerf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GameBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PowerPlan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DCortana" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TweakCSRSS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TweakMMCSS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableDefender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FixJPEG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasicServices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MicrosoftEdge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BCDedit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USBPSavings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetSVCHost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Network" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Memory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DUAC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CoreParking" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearDevices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BiosTweaks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mitigations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AltTab" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HyperV" serializeAs="String">
        <value>False</value>
      </setting>
    </ToX_Free_Utility.Properties.Settings>
  </userSettings>
</configuration>
